sealed-secrets:

  keyrenewperiod: "0"

  fullnameOverride: "sealed-secrets-controller"

  ingress:
    enabled: false

  metrics:
    serviceMonitor:
      enabled: true
    dashboards:
      create: true
