immich:
  persistence:
    size: 1Ti
    storageClass: 'ceph-filesystem'
    accessMode: ReadWriteMany
    labels:
      velero.io/backup-class: critical

  database:
    clusterName: immich-data
    replicas: 2
    size: 32Gi
    backups:
      enabled: true
      destination: s3://immich-db-backups/
      retention: 8d
      schedule: '0 0 0 * * *'
      secretName: immich-db-backup-bucket
      provider: s3
      s3:
        endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
        accessKeyName: AWS_ACCESS_KEY_ID
        secretKeyName: AWS_SECRET_ACCESS_KEY

  route:
    enabled: true
    hostnames:
      - photos.mobrockers.com
    parentRefs:
      - name: private
        namespace: envoy-gateway
        sectionName: web-https
      - name: public
        namespace: envoy-gateway
        sectionName: web-https
    timeouts:
      request: 3600s

  ingress:
    enabled: false

  server:
    podSecurityContext:
      fsGroup: 6000

  machineLearning:
    # modelPreload:
    #   objectRecognition: 'immich-app/ViT-L-16-SigLIP-384__webli'
    #   faceRecognition: 'immich-app/buffalo_l'
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 6Gi
