route:
  enabled: true
  hostnames:
    - hubble.mobrockers.com
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: private
      namespace: envoy-gateway
      sectionName: web-https
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: public
      namespace: envoy-gateway
      sectionName: web-https

cilium:
  MTU: 1450
  k8sServiceHost: localhost
  k8sServicePort: 7445

  kubeProxyReplacement: true
  socketLB:
    hostNamespaceOnly: true

  rollOutCiliumPods: true

  resources:
    # limits:
    #   memory: 4Gi
    requests:
      cpu: 100m
      memory: 512Mi

  envoy:
    prometheus:
      enabled: true

  operator:
    rollOutPods: true
    prometheus:
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true

  ipam:
    mode: kubernetes
  ipv4:
    enabled: true
  ipv6:
    enabled: false

  bgpControlPlane:
    enabled: true
    secretsNamespace:
      create: false
      name: cilium

  hostFirewall:
    enabled: true

  hubble:
    enabled: true
    tls:
      auto:
        method: cronJob
    relay:
      enabled: true
      rollOutPods: true
    ui:
      enabled: true
      rollOutPods: true

  securityContext:
    capabilities:
      ciliumAgent: [CHOWN,KILL,NET_ADMIN,NET_RAW,IPC_LOCK,SYS_ADMIN,SYS_RESOURCE,DAC_OVERRIDE,FOWNER,SETGID,SETUID]
      cleanCiliumState: [NET_ADMIN,SYS_ADMIN,SYS_RESOURCE]
  cgroup:
    autoMount:
      enabled: false                        
    hostRoot: /sys/fs/cgroup

  prometheus:
    serviceMonitor:
      enabled: true
  dashboards:
    enabled: true

  tls:
    secretsNamespace:
      create: false
      name: cilium
  gatewayAPI:
    secretsNamespace:
      create: false
      name: cilium
  ingressController:
    secretsNamespace:
      create: false
      name: cilium
  envoyConfig:
    secretsNamespace:
      create: false
      name: cilium
