apiVersion: v1
kind: Service
metadata:
  name: seerr
spec:
  ports:
    - name: http
      port: 80
      targetPort: http
  selector:
    app.kubernetes.io/instance: seerr
    app.kubernetes.io/name: seerr
