image:
  repository: ghcr.io/maintainerr/maintainerr
  tag: 2.27.0

route:
  enabled: true
  hostnames:
  - maintainerr.mobrockers.com
  parentRefs:
  - name: private
    namespace: envoy-gateway
    sectionName: web-https
  - name: public
    namespace: envoy-gateway
    sectionName: web-https
