route:
  enabled: true
  hostnames:
    - emqx.mobrockers.com
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: private
      namespace: envoy-gateway
      sectionName: web-https
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: public
      namespace: envoy-gateway
      sectionName: web-https

emqx-operator:
  revisionHistoryLimit: 0
  replicaCount: 1

cluster:
  image:
    repository: emqx/emqx
    tag: 5.8.9
