exporter:
  revisionHistoryLimit: 0
  secret:
    create: false
  settings:
    additionalLabels: 
      kyverno.io/skip: "true"
    clusterName: njord
    deployKubeStateMetrics: false
    deployWindowsExporter: false
    ksmAddress: 'http://kube-prometheus-stack-kube-state-metrics.prometheus.svc:8080'
    scraper:
      scrapeExternalKSM: true
      numberOfScrapers: 1
      scrapeNamespace: prometheus
