exporter:
  revisionHistoryLimit: 1
  additionalLabels: 
    kyverno.io/skip: "true"
  secret:
    create: false
  settings:
    clusterName: njord
    deployKubeStateMetrics: false
    deployWindowsExporter: false
    ksmAddress: 'http://kube-prometheus-stack-kube-state-metrics.prometheus.svc:8080'
    scraper:
      scrapeExternalKSM: true
      numberOfScrapers: 1
      scrapeNamespace: prometheus
