dawarich:
  hostname: timeline.mobrockers.com
  config:
    oidc:
      enabled: true
      autoRegister: true
      providerName: Authentik
      issuerUrl: https://authentik.mobrockers.com/application/o/dawarich/
      clientId: xxx
      secretName: dawarich-oidc-credentials
  database:
    backups:
      enabled: true
      destination: s3://dawarich-db-backups/
      retention: 8d
      schedule: '0 0 0 * * *'
      secretName: dawarich-db-backup-bucket
      provider: s3
      s3:
        endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
        accessKeyName: AWS_ACCESS_KEY_ID
        secretKeyName: AWS_SECRET_ACCESS_KEY
  ingress:
    enabled: false
  route:
    enabled: true
    hostnames:
    - timeline.mobrockers.com
    parentRefs:
    - name: envoy-gateway
      namespace: envoy-gateway
      sectionName: web-https

  photon:
    config:
      country: nl
      updateInterval: '168h'
      logLevel: DEBUG
    persistence:
      size: 20Gi


  redis:
    master:
      resources:
        requests:
          memory: 256Mi
        limits:
          memory: 1Gi
