home-assistant:

  podSecurityContext:
    fsGroup: 5000

  securityContext:
    runAsGroup: 5000
    capabilities: {}

  persistence:
    size: 10Gi

  route:
    enabled: true
    hostnames:
      - home.mobrockers.com
    parentRefs:
      - name: private
        namespace: envoy-gateway
        sectionName: web-https
      - name: public
        namespace: envoy-gateway
        sectionName: web-https
  ingress:
    enabled: false

  config:
    securityContext:
      runAsGroup: 5000

  additionalVolumes:
  - name: mqtts-proxy-config
    configMap:
      name: mqtts-proxy-config
  - name: svc-cluster-local-bundle
    configMap:
      name: svc-cluster-local-bundle
  additionalInitContainers:
  - name: mqtts-proxy
    image: cgr.dev/chainguard/stunnel:latest@sha256:3e807209bb12cd670a8578997375d69042f5de2c09b0e8085af867628c31c450
    restartPolicy: Always
    command: ["stunnel", "/etc/conf/stunnel.conf"]
    volumeMounts:
    - name: mqtts-proxy-config
      mountPath: /etc/conf/
    - name: svc-cluster-local-bundle
      mountPath: /ca
      readOnly: true
    # resources:
    #   requests:
    #     cpu: 10m
    #     memory: 16Mi
    #   limits:
    #     memory: 64Mi

matterHub:
  image:
    repository: ghcr.io/t0bst4r/home-assistant-matter-hub
    tag: 3.0.0-alpha.87

  route:
    enabled: true
    hostnames:
    - matter-hub.mobrockers.com
    parentRefs:
    - name: private
      namespace: envoy-gateway
      sectionName: web-https
