gateway-helm:
  deployment:
    envoyGateway:
      resources:
        limits:
          memory: 256Mi
        requests:
          cpu: 50m
          memory: 128Mi
    replicas: 2

  config:
    envoyGateway:
      provider:
        type: Kubernetes
        kubernetes:
          deploy:
            type: GatewayNamespace
      logging:
        level:
          default: info # debug/info/error/warn

privateGateway:
  enabled: true
  loadBalancerIP: 10.0.103.21

publicGateway:
  enabled: false
  loadBalancerIP: 10.0.103.21
  publicIP: 87.212.115.7
