route:
  enabled: true
  hostnames:
    - mealie.mobrockers.com
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: private
      namespace: envoy-gateway
      sectionName: web-https

mealie:
  image:
    repository: ghcr.io/mealie-recipes/mealie
    tag: v1.0.0-RC2
