rook-ceph-cluster:
  cephObjectStores:
  - name: ceph-objectstore
    spec:
      metadataPool:
        enableCrushUpdates: true
        enableRBDStats: true
        failureDomain: zone
        replicated:
          size: 2
      dataPool:
        enableCrushUpdates: true
        enableRBDStats: true
        failureDomain: zone
        replicated:
          size: 2
      allowUsersInNamespaces: ['*']
      hosting:
        advertiseEndpoint:
          dnsName: rook-ceph-rgw-ceph-objectstore.rook-ceph.svc
          useTls: false
          port: 80
        dnsNames:
        - 's3.mobrockers.com'
      gateway:
        port: 80
        resources:
          requests:
            cpu: 10m
            memory: 200Mi
          limits:
            memory: 6Gi
        instances: 2
        priorityClassName: system-cluster-critical
        opsLogSidecar:
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              memory: 100Mi
    storageClass:
      enabled: true
      name: ceph-bucket
      reclaimPolicy: Delete
      volumeBindingMode: WaitForFirstConsumer
