velero:
  revisionHistoryLimit: 0
  resources: { }

  kubectl:
    image:
      repository: public.ecr.aws/bitnami/kubectl
      tag: 1.35.0

  initContainers:
   - name: velero-plugin-for-microsoft-azure
     image: velero/velero-plugin-for-microsoft-azure:v1.13.2
     imagePullPolicy: IfNotPresent
     volumeMounts:
      - mountPath: /target
        name: plugins

  configuration:
    defaultSnapshotMoveData: true
    backupStorageLocation:
    - name: default
      provider: azure
      bucket: velero
      default: true
      credential:
        name: azure-credentials
        key: credentials
      config:
        useAAD: 'true'
        subscriptionId: e71a7bce-3743-48a9-a257-87b8d7180790
        resourceGroup: meijhorst
        storageAccount: meijhorstbackups

    volumeSnapshotLocation:
    - name: default
      provider: azure
      credential:
        name: azure-credentials
        key: credentials
      config:
        useAAD: 'true'
        subscriptionId: e71a7bce-3743-48a9-a257-87b8d7180790
        resourceGroup: meijhorst
        storageAccount: meijhorstbackups

    features: EnableCSI

  deployNodeAgent: true
  nodeAgent:
    disableHostPath: true # only needed for FS backups
    extraArgs:
    - --node-agent-configmap=velero-node-agent-config
  schedules:
    backup:
      schedule: '16 3 * * *'
      useOwnerReferencesInBackup: true
      template:
        ttl: '48h'
        labelSelector:
          matchLabels:
            velero.io/schedule-name: backup
        includedResources:
        - persistentvolumeclaims

  metrics:
    serviceMonitor:
      enabled: true
    nodeAgentPodMonitor:
      enabled: true
