gatus:

  grafana:
    dashboard:
      enabled: true

  gatus:
    gateway:
      route:
        enabled: true
        hosts:
          - status.mobrockers.com
        parentRefs:
          - name: private
            namespace: envoy-gateway
            sectionName: web-https
          - name: public
            namespace: envoy-gateway
            sectionName: web-https

    config:
      debug: true
      endpoints:
      - name: gatus
        url: 'https://status.mobrockers.com'
        group: internal
        conditions:
        - '[STATUS] == 200'
      - name: gatus
        url: 'https://status.mobrockers.com'
        group: external
        conditions:
        - '[STATUS] == 200'
        client:
          dns-resolver: 'udp://1.1.1.1:53'
      - name: google
        url: 'https://google.com'
        group: external
        conditions:
        - '[STATUS] == 200'
        client:
          dns-resolver: 'udp://1.1.1.1:53'
